.home {
}

.home-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.question-list {
  background-color: white;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  width: 80%;
  max-width: 600px;
  margin: auto;
  text-align: center;
}


.question-title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.question-button {
  display: block;
  margin: 10px 0;
  padding: 15px 0;
  border: none;
  border-radius: 5px;
  background-color: #f8f8f8;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.question-button:hover {
  background-color: #e0e0e0;
  transform: translateX(10px);
}

body {
  margin: 0;
  padding: 0;
  background-image: url("../../assets/game.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}